// Neutral colors
$black-color-1: #29292e;
$white-color-1: #fff;
$white-color-2: #f8f8f8;
$white-color-3: #e2e2e2;
$white-color-4: #fefefe;
$grey-color-1: #a8a8b3;
$grey-color-2: #737380;

// App colors
$purple-color-1: #835afd;
$pink-color-1: #e559f9;
$google-color: #ea4335;
$bg-color: $white-color-2;
$text-color: $black-color-1;

// Shadows
$shadow-1: 0 2px 12px rgba(0, 0, 0, 0.04);
